body {
  width: 100vw;
  height: 100vh;
}

h1 {
  padding-top: 32px;
  text-align: center;
}

main {
  width: 80%;
  height: 50%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-message {
  display: flex;
  flex-direction: row;
}

#form-message > input {
  font-size: 16px;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 4px;
}
#form-message :first-child {
  margin-right: 8px;
}

#form-message > button {
  font-size: 18px;
  margin-left: -4px;
  padding: 8px;
  background-color: #4242d4;
  border: none;

  border-radius: 0 4px 4px 0;
}

table {
  margin-top: 24px;
  width: 100%;
  /* border: 2px solid red; */
  border-collapse: collapse;
}

.table-thead {
  border-collapse: collapse;
  background: #39e03e;
}
table {
  text-align: left;
}

.line {
  height: 48px;
  border-top: 1px solid #cccc;
}

.table-id {
  width: 10%;
}
.table-buttons {
  width: 20%;
}

.table-buttons > button {
  padding: 8px;
  border: 0;
  border-radius: 4px;
}

.btn-edit {
  background-color: #39e03e;
}

.btn-delete {
  background-color: #dd1515;
}

.table-description,
.table-details {
  width: 35%;
  padding: 8px;
}
