body {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
}

#logout {
  margin: 32px 24px 0 0;
  font-size: 32px;

  cursor: pointer;
  background: #3b3b3b;
  border-radius: 10%;
  border: none;
}
#logout > i {
  padding: 4px;
}

h1 {
  padding: 32px 0 0 32px;
  text-align: center;
  width: 100%;
}

main {
  width: 80%;
  height: 50%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-bar {
  padding-top: 32px;
}
#form-message {
  display: flex;
  flex-direction: row;
}

#form-message > input {
  color: #fff;
  font-size: 16px;
  padding: 8px;
  width: 30vw;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background-color: #3b3b3b;
}

#form-message :first-child {
  margin-right: 24px;
}

#form-message > button {
  font-size: 18px;
  margin-left: -4px;
  padding: 8px;
  background-color: #23239b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

table {
  margin-top: 24px;
  width: 100%;
  border-collapse: collapse;
}

.table-thead {
  border-collapse: collapse;
  background: #39e03e;
}
table {
  text-align: left;
}

.line {
  height: 48px;
  border-top: 1px solid #585756;
}

.table-id {
  width: 10%;
}

.table-buttons {
  width: 15%;
}

.table-buttons > button {
  padding: 8px;
  border: 0;
  color: #fff;
  border-radius: 4px;
}

.btn {
  cursor: pointer;
}

.btn-edit {
  background-color: #1aa33f;
}

.btn-delete {
  background-color: #b11111;
}

.table-description,
.table-details {
  width: 35%;
  padding: 8px;
}
